.tx-18 {
    font-size: 18px;
}
.margint-15{
 	margin-top: 15px;
}
.margint-10{
    margin-top: 10px !important;
}
.padding-0{
    padding: 0px !important;
}
.margin-15{
    margin: 15px;
}
.with-13{
    width: 13%;
}
.with-auto{
    width: auto;
}
.height-40{
	height: 40px;
}
.img-brands{
	width: 100px;
	height: 50px;
}
.img-bike{
	    width: 290px;
    height: 200px;
}
.table-img > td{
	line-height: 48px !important;
}
.width-100{
	width: 100%;
}
.width-50{
	width: 50%;
}
table .dropdown-menu {

    min-width: 123px;
}
table .form-delete{
	    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
table .form-delete .btn.red:not(.btn-outline){
	    background: transparent;
    color: #6f6f6f;
    border: none;
    padding: 0px;
}
.color-item .color-preview{
    vertical-align: middle;
    margin: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}
.colors-list{
    max-height: 145px;
    overflow-x: auto;
}
.color-preview.black{
    background-color: #000;
}
.color-preview.blue{
    background-color: #00f;
}
.color-preview.brown{
    background-color: #A52A2A;
}
.color-preview.maroon{
    background-color: #800000;
}
.color-preview.red{
    background-color: #f00;
}
.color-preview.gray{
    background-color: #808080;
}
.color-preview.green{
    background-color: #008000;
}
.color-preview.orange{
    background-color: #f60;
}
.color-preview.pink{
    background-color: #FFC0CB;
}
.color-preview.white{
    background-color: #fff;
}
.color-preview.purple{
    background-color: #800080;
}
.color-preview.yellow{
    background-color: #ff0;
}
.overflow-hidden{
    overflow: hidden;
}
.tabbable-line>.tab-content {
    border-top: none; 
}
.page-header.navbar .menu-toggler.sidebar-toggler{
    float: left;
}
.nav-tabs.transaction>li.active>a{
    color: #fff;
    background-color: #a4c928;
    border: 1px solid #a4c928;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.transaction {
    border-bottom: 1px solid #a4c928;
}
.transaction .qte{
    padding: 5px;
    font-size: large;
    background-color: #a4c928;
    color: #fff;

}
.transaction .qte.red{
    background-color: #f70606;
}
.checkout-sale{
    width: 80%;
    margin-right: 9px;
    float: left;
}
.checkout-span{
    padding-top: 4px;
}
.label-green-fort{
    background-color: #56f556;
}